	html, body
	{
		
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
		line-height: 1.75em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: black;
	}
	
	.innercontainer{
		border:1px solid;
		border-radius:20px;
		width: 300px;
		height: auto;
		float:left;
		margin-left:300px;
		padding:35px 20px 10px 30px;
		box-shadow: 10px 10px 5px #888888;
	}
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	a
	{
		color: #383325;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
		
		position:relative;
		
	}
	.container1
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
		height:300px;
		position:relative;
		
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}



	.title
	{
		padding: 0em 0em;
		margin-bottom: 3em;
	}
	
	.title h2
	{
		margin-bottom: 1em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		color: #383326;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		background: #4C4532;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}


	#wrapper
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
/*		position: absolute;*/
		top: 2em;
		left: 122px;
                text-align:center;
	}
	
	#logo h1
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color:rgb(148,26,7);
                font-size:31px;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
		padding-left:3px;
	}
	
	#menu li a, #menu li span
	{
		padding: 0.7em 1.5em;
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: rgba(0,0,0,0.5);
		border-radius: 20px;
		color: rgba(255,255,255,0.8);
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #D7D4C3;
		height:auto;;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		
	}


	#copyright
	{
		overflow: hidden;
		
		height:50px;
		
		
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

.textbox{
	width:232px;
}
	
	#error
	{
		color:#910000;
		 text-align:center;
	}
#sedond-field{
    margin:auto;
    width:70%;
}
#sedond-field th{font-size: 15px;
    font-weight: normal;
    text-align: left;
    width: 80%;}
#sedond-field td{}
#sedond-field input{}
#td1
{
 width:80px;
 align:center;
}

#tdp
{
    width:261px;
   
}
#tasd{
    float:right;
}
/*#tda
{
 float:next;   
}*/
.styled-select select 
   {
   background:transparent;
   width: 147px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 2px solid;
   border-radius: 0;
   height: 33px; 
   -webkit-appearance: none;
   float:right;
   margin-right:-24px;
    margin-top:-24px;
   }
 #tdata
 {
   text-align:center;   
 }  
 #grossinput input,select{
       margin:3px;
    width:145px;
 }
 #append_tab{border: 1px solid blue;
    border-collapse: collapse;width: 100%;}
  #append_tab td,tr{    border: 1px solid red;}
   #append_tab td{   padding: 4px;}
   #tabgross{width:80%}
