
.wrapper { margin: 0 auto; width: 730px; }
footer { border-top: 1px solid #CCCCCC; float: right; font-size: 12px; margin: 40px 0 0; padding: 10px; width: 81%;}
/*Datatables style*/
#big_table_wrapper {background-color: #fff; }
#big_table_wrapper .dataTables_length {float:left;}
#big_table_wrapper .dataTables_filter {float:right;}
#big_Table_wrapper .ui-toolbar{padding:5px;}
#big_Table_wrapper .ui-toolbar{padding:5px;}
#big_table{width:730px; text-align: center;}
.dataTables_paginate .ui-button {    margin-right: -0.1em !important;}
.paging_full_numbers .ui-button {    color: #333333 !important;    cursor: pointer;    margin: 0;    padding: 2px 6px;}
.dataTables_info {    float: left;    width: 50%;}
.dataTables_info {    padding-top: 3px;}
.dataTables_paginate {    float: right;    text-align: right;}
.dataTables_paginate {    width: auto;}
.paging_full_numbers {    width: 350px !important;}
#big_table_processing > img {padding-left:20px;}
#tdata
 {
   text-align:center;   
 }  
 #grossinput input,select{
       margin:3px;
    width:145px;
 }
 #append_tab{border: 1px solid blue;
    border-collapse: collapse;width: 100%;}
  #append_tab td,tr{    border: 1px solid olive;}
   #append_tab td{   padding: 4px;}
   #tabgross{width:80%}
