body{
    background: #474225;
}
a{
    text-decoration: none;
}
#wrapper{
    margin: 0 auto;
    width:960px;
}
#headder{
      background: none repeat scroll 0 0 #F6EDCE;
    border-radius: 4px 4px 4px 4px;
}
#headder img{   padding: 5px}
#content{    background: none repeat scroll 0 0 #F6EDCE;
    border-radius: 4px 4px 4px 4px;
    margin-top: 3px;
    min-height: 70%;
    padding: 10px;}
#footer{ background: none repeat scroll 0 0 #F6EDCE;
    border-radius: 4px 4px 4px 4px;
    font-size: 11px;
    margin: 3px 0;
    min-height: 40px;
    padding: 12px 0 0;
    text-align: center;}
#userlogin{
    margin: 0 auto;
    padding: 10% 0 15%;
    width: 40%;
}
#userlogin td{
        padding: 5px;
}
 .button{ float: right;
   background: linear-gradient(to bottom, #BDDBFA 5%, #80B5EA 100%) repeat scroll 0 0 #BDDBFA;
    border: 1px solid #84BBF3;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #DCECFB inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #528ECC;  margin: 5px;
}
#menu{
  background: none repeat scroll 0 0 #F6EDCE;
    border-radius: 4px 4px 4px 4px;
    color: #C90021;
    margin: 5px 0;
    padding: 6px 0 6px 22px;
    overflow: auto;
}
#menu a{
     color: #C90021;
    font-size: 14px;
    text-decoration: none;
    
}
#menu a:hover{
    color: #e23451;
       font-weight: bold;
}
#casetab{ margin: 0 auto;
    width: 80%;}
#casetab th{
     font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 40%;
}
#casetab td{ width: 40%; padding: 5px;}

#case_entry select{width: 61%;}
#menu nav{
    width: 70%;
    float:left;
}
#logout{
    float: 20%;
    float:right;
       margin-right: 2%;
}
#case_entry .file{}